* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: #ecf0f1;
}

#easypay_main_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#easypay_main_area .easypay_sub_area {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}
#easypay_main_area .easypay_sub_area .easypay_text {
    text-align: center;
}
#easypay_main_area .easypay_sub_area .easypay_text h2 {
    font-size: 40px;
    font-family:sans-serif;
    margin-bottom: 10px;
}
#easypay_main_area .easypay_sub_area .easypay_text p {
    font-size: 20px;
    font-family:sans-serif;
    margin-bottom: 10px;
}
#easypay_main_area .easypay_sub_area .easypay_box {
    border: 1px solid #ddd;
    padding: 10px 20px;
    width: 600px; 
    height: auto;
    border-radius: 5px;
    background-color: #ecf0f1;
}
.easypay_content {
    margin: 10px 0;
}
.easypay_content h5,
.easypay_content span {
    font-size: 20px;
    font-weight: 600;
}
.easypay_content h5 span,
.easypay_content h5 b {
    font-weight: 300;
    margin-left: 5px;
}
.easypay_content h5 span b {
    font-size: 15px;
}
.easypay_content span input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
}
.easypay_content input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #5f27cd;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.easypay_content input[type="submit"]:hover {
    background-color: #000;
}

.copy_btn {
    cursor: pointer;
    margin-left: 8px;
}
.copy_btn:hover {
    color: blue;
}
#timeBox {
    font-weight: bold;
    color: darkgreen;
}

@media only screen and (max-width: 900px) {
     #easypay_main_area .easypay_sub_area .easypay_box {
        width: 450px;
        height: auto;
    }
    .easypay_content h5,
    .easypay_content span {
       font-size: 18px;
       font-weight: 600;
    }
    
#easypay_main_area .easypay_sub_area .easypay_text h2 {
    font-size: 35px;
}

#easypay_main_area .easypay_sub_area .easypay_text p {
    font-size: 19px;
}
}

@media only screen and (max-width: 600px) {
    #easypay_main_area .easypay_sub_area .easypay_box {
        width: 350px;
        height: auto;
    }
    .easypay_content h5,
    .easypay_content span {
       font-size: 16px;
       font-weight: 600;
    }
    
#easypay_main_area .easypay_sub_area .easypay_text h2 {
    font-size: 30px;
}

#easypay_main_area .easypay_sub_area .easypay_text p {
    font-size: 17px;
}
}